* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.app {
  background-color: #334257;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main {
  padding: 25px;
}

.search-box {
  margin-top: 25px;
  width: 100%;
}

.search-box .search-bar {
  display: block;
  width: 75vw;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: #548ca8;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 0 5px #2c2e43;
  color: #eeeeee;
  font-size: 20px;
  font-weight: 500;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: #B2B1B9;
}

.location-box .location {
  color: #F1ECC3;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px #515E63;
  margin-top: 50px;
  background-color: #57837B ;

  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
    border-radius: 16px 16px 16px 16px;
      box-shadow: 0 5px #515E63;


}
.location-box .date {
  color: #88FFF7;
  font-size: 20px;
  font-weight: 300px;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  text-shadow: 1px 1px #7C83FD;
}
.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;

  padding: 15px 25px;

  color: #fff;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather{
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}


